/* tailwind css import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"); 


@font-face {
    font-family: myFont;
    src: url(voltec.woff);
  }
  @font-face {
    font-family: youFont;
    src: url(cyberway.otf);
  }
.one{
    font-family: "youFont";
}
.item{
    font-family: "youFont";
}
.team{
    font-family: "youFont";
}
.team1{
    font-family: "myFont";
}
.team2{
    font-family: "myFont";
    letter-spacing: 0.1em;
    background: linear-gradient(0deg,#1DA0CB ,#FCEE09);
    -webkit-background-clip: text;
    color: transparent;  
}
.foot{
    font-family: "myFont";
    background: linear-gradient(0deg,#1DA0CB ,#FCEE09);
    -webkit-background-clip: text;
    color: transparent;  
}
body {
    font-family: "Poppins";
    background-color: black;
}
.foot2{
  /* font-family: "myFont"; */
  background: linear-gradient(0deg,#1DA0CB ,#FCEE09);
 
}
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

 .container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
  }

  header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

section {
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img {
    width: 100%;
}

section .container > * {
    margin: 2rem;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color:black;
    bottom: 0;
    left: 0;
}


.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 30;
    background: linear-gradient(to top, black, transparent);
}

.shadow1 {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 30;
  background: linear-gradient(to bottom, #151515, transparent);
}

.opacity {
    opacity: 0;
}

@media (max-width: 850px) {
    section .container {
        grid-template-columns: 1fr;
    }
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}
@media screen and (max-width: 600px) {
    .grid-wrapper {
        grid-template-columns: 1fr; /* Display one box in smaller screens */
    }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/HACKED.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Assuming the letters are in a text element */
.glowing-text {
  font-size: 100px; /* Adjust to match the size of the text in the image */
  font-weight: bold;
  color: #fff; /* White color text */
  text-shadow: 
    0 0 10px #ffffff,  /* White glow */
    0 0 20px #ffffff, 
    0 0 30px #88adf1, /* Blue glow */
    0 0 40px #88adf1,
    0 0 50px #88adf1, 
    0 0 60px #374b9c, /* Darker blue glow */
    0 0 70px #374b9c;
}
 

.light-bulb {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px #88adf1) drop-shadow(0 0 20px #88adf1);
  }
  100% {
    filter: drop-shadow(0 0 20px #374b9c) drop-shadow(0 0 30px #374b9c);
  }
}


/* @media (min-: 800px) and (max-height: 950px) {
  .custom-md\:mt-32 {
    margin-top: 8rem;  Adjust the value as needed 
  }
} */

/* New CSS class with reduced glow */
.subtle-glowing-text {
  font-size: 100px; /* Adjust to match the size of the text in the image */
  font-weight: bold;
  color: #fff; /* White color text */
  text-shadow: 
  
    0 0 30px #374b9c,  /* Less intense darker blue glow */
    0 0 35px #374b9c;
}

.light-bulb-subtle {
  animation: subtle-glow 1.5s infinite alternate;
}

@keyframes subtle-glow {
  0% {
    filter: drop-shadow(0 0 5px #374b9c) drop-shadow(0 0 10px #374b9c);
  }
  100% {
    filter: drop-shadow(0 0 10px #374b9c) drop-shadow(0 0 15px #374b9c);
  }
}



/* // import EventCardMedia from '../components/EventCardMedia' */



/* // import NewNavBar from '../components/NavBar.jsx'
// export default function Technical() {
//   const events = [
//     {
//       "name": "",
//       "alias": "Pixellate",
//       "image": 'https://i.postimg.cc/2SmB5Df8/pixellate.png',
//       "aboutEvent": "Designing is a challenge, it requires a pioneering vision strengthened by a curiosity out of the ordinary; yet typical of any man. To design is to invent, innovate, and surprise. All this through a single tool   Pixelate is a contest in which participants are asked to design graphics using the given set of tock images and other resources. The event is divided into two rounds. The first is an   elimination round in which a short design problem will be given.",
//       "eventDetail": [
//         "Registration Fee: Rs 450  per person || Team Composition: 1"
//       ],
//       "rules": [
//         	"Skill",
//       "	Message/ Thought behind the design", 
// 	   "Only Canva is allowed to make posters.", 
//      "	It should be made from scratch, no Templates should be used.",
//    	"Eye catching",
//     "The decisions made by the judges would be final and binding.",
// 	   "Interaction with the viewer.",
// 	   "Creativity", 



//       ],
      
//       "coordinators":{"name":'Piyush Bhagchandani: 8209455601',"name2":'Sanchita: 8078669540'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "Quick-Flick",
//       "image": 'https://i.postimg.cc/zv89B78Q/quick-flick.png',
//       "aboutEvent": "Anything that can be written or thought of can be filmed. They say a picture is worth a thousand words then a film is worth a thousand times more. If you are an author whose novels are films, this is right place to publish.",
//       "eventDetail": ["Registration fee: Rs 450 per person|| Team Composition: 1"],
//       "rules": [
//         "	A reel must be made which should cover all the events happening on the day.",
//         "	The clips must be recorded while the rhythm is going on.",
//         "The reel should cast off with a trending sound.",
//         "The reel has to be uploaded on Instagram collaborated with ID: giving on event day.",
//         "JUDGING CRITERIA",
//         "Number of likes on the reel",
//         "Number of views on the reel",
//         "Number of shares on the reel"

//       ],
    
//       "coordinators": {"name":'Kinshuk Mital: 9785246797',"name2":'Rachi Agarwal: 7023316442'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "ShutterShots",
//       "image": 'https://i.postimg.cc/MKsh614s/shutter-shots.png',
//       "aboutEvent": "There is a creative fraction of a second when you are taking a picture. Your eye must see a composition or an expression that life itself offers you, and you must know with intuition when to click the camera. That is the moment the photographer is creative. Oops! The Moment! Once you miss it, it is gone forever",
//       "eventDetail": [
//         "Registration fee: Rs 450 per person || Team Composition: 1"
//       ],
//       "rules": [
//         "Individual Participation",
//         	"Format should be .jpg format not in raw format. ",
//         "5 tasks will be provided on both the days which are supposed to be completed accordingly.",
//         "The photos should be uploaded in the given link on time.",
//         "	No Editing should be done. ",
//         "Amount of tasks completed on time",
//         "Framework of the photos will be in concern.",
//         "The photos captured in the phone and the camera will be evaluated separately via well-defined comparing manner."
        
//       ],
      
//       "coordinators": {"name":'Mohit Sehra: 7023323711',"name2":'Khushi Nagar: 6350392955'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "SnippetStory",
//       "image": 'https://i.postimg.cc/Rhd2nt0Z/snippet-story.png',
//       "aboutEvent": "SHORT FILM MAKING COMPETITION",
//       "eventDetail": [
//         "Registration Fee: Rs 2400 per team  || Team composition:4"
//       ],
//       "rules": [
//         "A short film should be made with a duration of 4-7 mins max.",
//         "	A film should have a glimpse of all the events happening on the day of shoot. ",
//         "	No restrictions on the usage of phones and DSLR.",
//         	"No clips should be there via unfair practices",
      
      
//         "JUDGING CRITERIA",
        
//         "Quality of video (1080p min_4k max) and sound.",
//         "Script of the movie",
//         "Video editing and sound scoring"
//       ],
      
//       "coordinators": {"name":'Jaanvi Pareek: 6367573171',"name2":'Chetan: 7733885528'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "VirtualVerve",
//       "image": 'https://i.postimg.cc/FRjMN85c/virtual-verve.png',
//       "aboutEvent": "",
//       "eventDetail": ["Registration Fee: Rs1000 per person (for two days) || Team Composition:1"],
//       "rules": [
//         "Vlog duration should be about 4-7 mins max.",
//         "Day 1 all the events should be covered during this shoot.",
//         	"Vlog should be uploaded on Day 1.",
//           "	Day 2  will be allotted for promotion.",
//         "Video editing",
//         "Sound and video quality (1080p min-4k max)",
//         "Interaction with viewer",
//         "Coverage of events",
//         "Entertainment"
//       ],
      
//       "coordinators": {"name":'Aashi Rathi: 9828292185',"name2":'Kunal Chouhan: 9799834182'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": " नजरिया board ",
     
//       "image": 'https://i.postimg.cc/J0RZ1QzG/nazaria-board-UPSCALE.png',
//       "aboutEvent": "The event is about creating your vision boards, using pictures, sketches and anything related to RHYTHM'24. ",
//       "eventDetail":["Registration Fee: Rs700 per person|| Team Composition:1"],
//       "rules": [
//          "Duration - 3 hours. ",
// "Participants must bring their requirements for the competition themselves. ",
// " Participants must bring their cardboard, photocopies, sketches etc required for your competition. ( vision boards) ",
//  "You'll be given 2 days to collect the pictures of the event, i.e, 21st February and 22nd February (Rhythm) ",
//  "You have to prepare the vision board after coming to the event, any vision board prepared beforehand would not be appreciated. ",
//  "Your images should not be copied and are expected to be authentic. ",
//  "Violations of the rules, will lead to disqualification of the participant. ",
// " The decisions of the judges and the event organisers are final.",

        
//       ],
      
//       "coordinators": {"name":'Divya Mittal: 6350577196',"name2":'Monalika Medatwali: 9799834182'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "VYAPAAR",
//       "image": 'https://i.postimg.cc/4ywtnhYw/VYAPAAR-UPSCALE.png',
//       "aboutEvent": "Roll the dice, acquire fantastical properties, and face enchanting challenges at VYAPAAR. This offline Monopoly experience tests friendships, forms alliances, and creates fortunes. Adapt to market fluctuations, engage in political alliances, and employ psychological strategies to dominate the competition!",
//       "eventDetail": ["Registration Fee: Rs450 per person  || Team Composition:1"],
//       "rules": [
//       " Duration - 6hours There will be single Participation.",

// "Players take turns in clockwise order .",
// " Players receive a set amount money and place there tokens on go",
// "Players role dice to determine who goes first.",
// "Follow the instructions on the space where you land. This could involve buying property, paying rent, drawing a Chance or Community Chest card, or other actions.",
// "If a player cannot afford to pay rent, fines, or debts, they are bankrupt and out of the game.",
// "The game continues until all but one player is bankrupt. The last remaining player is the winner.",
// "Violations of rules may lead to disqualification,Decisions of the event organiser will be final.",

//       ],
      
//       "coordinators": {"name":'Joyel Jian:8279286433',"name2":'Vishaka Maheshwari: 6376894850'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "Science Doodle",
//       "image": 'https://i.postimg.cc/xjPL6B6H/science-doodle-UPSCALE.png',
//       "aboutEvent": "",
//       "eventDetail": ["Registration Fee:  1800 per team  || Team Composition:4"],
//       "rules": [
//         	"Duration- 2 hours",
// 	"No smartphones are allowed during the ongoing of the competition. ",
// 	"Participants must bring their own necessary materials for the competition.",
// 	"Reference material cannot be carried by the participants.",
// 	"Any specific team or requirement will be communicated in advance.",
// 	"Violation of any rules will lead to instant disqualification of the team. ",
// 	"The decision of the and event organizers and coordinators would be considered final.",
// 	"Abusive language and behaviour will not be tolerated during the competition.",
 
//       ],
      
//       "coordinators": {"name":' Aditya Rathore:6376047700',"name2":'Shashank:7294870963 '},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
//     {
//       "name": "",
//       "alias": "",
//       "image": 'https://i.postimg.cc/bNNkWL55/CID-RHYTHM-UPSCALE.png',
//       "aboutEvent": "",
//       "eventDetail": ["Registration Fee: Rs1800 || Team Composition:4"],
//       "rules": [
//         	"Duration:- 3 hours",
//         	"No smartphones allowed during the competition",
//         	"Violation of any rules will lead to disqualification of team",
// 	"Participants have to maintain the discipline and decorum of the event",
// "	Play fair,no cheating",
// "Players act as detectives to solve clues And uncover hidden treasures.",
// 	"It involves teamwork, problem solving and creativity to crack code and puzzle leading to the final goal",
//   	"Each team will consist of 4 members",


        
//       ],
      
//       "coordinators": {"name":'Abhay : 7269830922',"name2":'Harshit: 9829875743'},
//       "schedule": {
//         "day": "",
//         "venue": "",
//         "time": ""
//       }
//     },
    
//   ]

//   return (
//     <>
//   <NewNavBar/>
//     <div className='flex flex-col text-center justify-center gap-10 mt-6'>
//       <div className='team2 text-6xl'>
//         <p className='m-2'>MEDIA</p>
//         </div>
//       <div className='flex flex-col mx-16 md:grid md:grid-cols-4 gap-10'>
//       {events.map((element)=>{
//               return <div>
//                 <EventCardMedia title={element.alias} image={element.image}
//                 date={element.schedule.day}
//                 time={element.schedule.time}
//                 venue={element.schedule.venue}
//                 about={element.aboutEvent}
//                 details={element.eventDetail}
//                 rules={element.rules}
//                 coordinator1={element.coordinators.name}
//                 coordinator2={element.coordinators.name2}/>
//             </div>
//         })}
//         </div>

//           </div>
//     </>
//   )
// } */


/* // import React from 'react'
// import Image from 'next/image';
// import NewNavBar from '@/components/NavBar';

// const Events =()=>{
//     return (
//         <>
//         <NewNavBar/>
//         <div className='flex flex-col text-center justify-center'>
//                     <div className="">
//                         <h1 className="team2 mb-24 mt-24 text-white font-bold text-8xl md:text-6xl xl:text-8xl">Events</h1>
//                     </div>
                       
//                     <div className=' grid  md:flex justify-evenly pb-48'>
//                                 {/*Seperate cards for each Event Domain  
                                   
//                                 <div>
//                                 <a href='/sports'>
//                                 <Image src='https://i.postimg.cc/CLxTT1jg/Sports.png' className="p-1 transition-transform duration-300 transform hover:scale-105 cursor-pointer w-72" alt='Technical Poster' width={400} height={100}/>
//                                 </a>
//                                 </div>
                                
                             

//                                 <div>
//                                 <a href='/hardware'>
//                                 <Image src='https://i.postimg.cc/h4rW5xQs/Cultural.png' className="p-1 transition-transform duration-300 transform hover:scale-105 cursor-pointer w-72" alt='Technical Poster' width={400} height={100}/>
//                                 </a>
//                                 </div>


//                                 <div>
//                                 <a href='/technical'>
//                                 <Image src='https://i.postimg.cc/dVhb3xHN/Technical.png' className="p-1 transition-transform duration-300 transform hover:scale-105 cursor-pointer w-72" alt='Technical Poster' width={400} height={100}/>
//                                 </a>
//                                 </div>

                               
                                
    
//                             </div>
//                 </div> 
     
//                 </> 
//     )
// }

// export default Events
 */
